<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnotherJiraRestClient-Ruskin" version="0.0.7" targetFramework="net452" />
  <package id="Ctl.Data" version="1.0.5570.18090" targetFramework="net452" />
  <package id="Ctl.Data.Excel" version="1.0.6015.19267" targetFramework="net452" />
  <package id="EPPlus" version="4.0.5" targetFramework="net452" />
  <package id="Ix-Async" version="1.2.3" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="10.1.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="3.5.8" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
</packages>